p{
    font-size:12px;
    text-decoration: none;
    color:black;
    text-align: center;
}
h1{
    font-size:1.5em;
    color:#525252;
    text-align: center;
}
.titulos{
  display: flex;
  justify-content: space-between;
}
.close{
 padding-right: 5px;
 color: black;
 font-size: 30px;
 font-weight: bold;
 margin-right: 10px;
}
.sesion{
  font-size:1.5em;
  color:#525252;
  text-align: center;
  margin-top: 8px;
  margin-left: 125px;
}

.close:hover{
  color: #7f8c8d;
  text-decoration: none;
  cursor: pointer;
}
.login {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background: rgb(0, 0, 0, 0.452);
    display: flex;
    align-items: center;
    justify-content: center; 
    display: none;
}
.cuadro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 8px #333333 ridge;
    background: white;
    width: 30%;
    height: 34%;
}
.usuario{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
.password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:222px;
    font-size:1em;
  }

  .btn{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn:hover{
    background:#2CC06B; 
  }
  
  #btn2{
    float:left;
    background:#3498db;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
#btn2:hover{ 
  background:#3594D2; 
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#respuesta{
  color: red;
}