#cuerpo {
    display:flex;
    flex-direction: row;
    height: 80vh;
}
#formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10%, 10%;
}

#datos{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    height: 82vh;
    border: 1px solid grey;
}



#datos input    {    
    width: 37vw;
    height: 3vh;
    margin-left: 7px;
    
}

#seccionFoto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;   
    /* border: 1px solid grey; */
}

#foto{
    width: 50%;
   margin-left: 25%;
}


#botones {
    margin-top: 5%;
    height: 60px;
    margin-left: 12%;
    
}
#botones input {
    width: 40%;
    height: 30px;
    border:1px solid #000;
    border-radius:5px;
    color:#fff;
    background-color:rgb(56, 55, 55);  
    
}
#botones input:hover{
    cursor:pointer;
}
.enlinea {
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    width: 90%;
}
.form_etiqueta{
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: .8rem;
    padding-top: .6em;
}
.form_errores {
    color:red;
}