#cajapadre {
    background-color: rgb(170, 223, 150);
    height: 70vh;    
}
#caja-1 {
    margin-left: 5%;
}
#zonas {
    display: flex;
    flex-direction: row;
    height: 30vh;
}
#zona1 {
    border: 1px solid grey;
    width: 34vw;
    padding: 10px 10px;
}
#zona2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
    width: 35vw;
    padding: 5px 5px;
}